body {
	font-family: 'Lato', sans-serif;
	background-color: grey;
}

#display-train-info tr:nth-child(even) {
    background-color: orange;
}

#display-train-info tr:nth-child(odd) {
    background-color: lightgrey;
}

#train-list {
	border-color: black;
}

#add-train-panel {
	border-color: black;
}

.jumbotron {
	border-color: black;
	background-image: url("../images/train_station.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: orange;
	font-weight: bold;
}



#submit-train {
	background-color: lightblue;
}